<title>ユキヒロー速報</title>
<h1>ユキヒロー速報</h1>
<p> yukkyをどこかで見つけたら書き込もう！ </p>
<p> yukkyが決めたこと <br>
その1: 週に4日は研究室にくる <br>
その2: 11時には研究室にくる <br>
その3: 午前に授業のある場合は、授業後に研究室にくる <br>
その4: アルバイトのある日は15:30まで勉強頑張る</p>
<form action="<%= yukky_add_path %>" method='post'>
<textarea name='desc' value='' required>
</textarea>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<input type='submit' value='送信！'>
</form>
<table>
<tr>
<td>Time</td>
<td>Desc</td>
</tr>
<% if ! @yukky.nil? %>
  <% @yukky.each do |json| %>
    <tr>
      <td><%= json['time'] %></td>
      <td><%= json['desc'] %></td>
    </tr>
  <% end %>
<% end %>
